:root {
  --main: #ff6600;
  --dark: #0e0d0d;
  --light: #f7f3f0;
  --grey: #b2afac;

  //    border radius
  --base: 8px;
  --md: 16px;
}

// spacer
$spacer: 1rem;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
